body {
    background-color:  black;
}

#archiveheader {
    color: white;
    text-align: center;
    border: 2px solid white;
    margin: 15px 30%;
}

#nav {
    text-align: center;
    color: white;
    list-style-position: inside;
    list-style-type: circle;
    padding: 10px;
    padding-left: 0px;
}
.hyperlinklist {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

#about {
    color: white;
    text-align: center;
    margin-top: 650px;
}
#abouttext {
    font-size: 18px;
}