body {
    background-color:  black;
    color: white;
    font-family: 'Arial', sans-serif;
}

#Logo {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    border: 2px solid white;
    padding: 10px;
}

.listElement {
    margin-bottom: 30px;
}

#wonderlandHeader {
    text-align: center;
}

#anomDesc {
    text-align: center;
}

.anomalyRating {
    font-weight: bold;
    font-size: 1.1em;
}

.hyperlinklist {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

.navigation {
    text-align: center;
    list-style-position: inside;
    margin-right: 3%;
}

.back-link {
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.hyperlink {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.PageQuote {
    font-style: italic;
    margin: 20px;
}